@import url($font-main);

.container-fluid {
	font-family: 'Manrope', Arial, sans-serif;
	padding: 0;
	background-color: $color-light;
	height: 100%;
	width: 100%;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
