$color-brand:#F78888;
$color-logo:#F3D250;
$color-light:#ECECEC;
$color-header-link-highlight:#90CCF4;
$color-header-bg: #5DA2D5;
$color-header-link: #0d5bb4;


$font-main: "https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap";
