$color-brand:#F78888;
$color-yellow:#F3D250;
$color-light:#ECECEC;
$color-blue:#90CCF4;
$color-darker-blue: #5DA2D5;
$color-dark-blue: #0d5bb4;


$web-font-path: "https://fonts.googleapis.com/css?family=Lato:400,700,400italic&display=swap";
