$color-brand: #f78888;
$color-logo: #f3d250;
$color-light: #ececec;
$color-header-link-highlight: #90ccf4;
$color-header-bg: #5da2d5;
$color-header-link: #0d5bb4;
$color-logo-J: #45b549;

$size-header-height: 70px;

$font-main: 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap';

