.stats {
  text-align: center;
}

.sprint-table-wrapper {
  max-width: 50%;
  margin: 0 auto;
}

.sprint-table {
  background-color: #d8d4d4;
}

.btn-play-again {
  margin-top: 10px;
}

@media only screen and (max-width: 720px) {
  .sprint-table-wrapper {
    max-width: 95%;
  }
}