.main-info-field-success {
	color: #2dac1c;
}

.main-info-field-error {
	color: #ac1c1c;
}

.main-info-field {
	margin-bottom: 10px;
	min-height: 3rem;
	text-align: center;
}

.main-login-btn-wrapper {
	text-align: center;
	margin-bottom: 10px;
}

.total-learned,
.today-learned {
	text-align: center;
}
