.cards-container {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto 50px;
}
.word-card {
	display: flex;
	margin-bottom: 15px;
	width: 200px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: whitesmoke;
	&:hover {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
}

.sound-icon {
	font-size: 2.5em;
	width: 15%;
	padding-left: 10px;
	margin: auto;
}

.text-container {
	width: 85%;
}

.eng-word {
	font-size: 2.2em;
	text-align: center;
}

.eng-transcription {
	font-size: 2em;
	color: grey;
	text-align: center;
}

.correct-word {
	box-shadow: 0 0 10px rgba(39, 224, 33, 1);
}
.incorrect-word {
	box-shadow: 0 0 10px rgba(224, 71, 33, 0.856);
}

.card-guessed {
	opacity: 0.75;
	box-shadow: 0 0 10px rgba(39, 224, 33, 1);
}

.active-card {
	box-shadow: 0 0 10px rgb(255, 163, 42);
}
