.intro-module {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    font-size: 2.5em;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    z-index: 3;
    display: block;
    transition: all 0.4s ease-out;
}

.intro-text {
    font-family: Nunito Bold, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 25vw;
}

.intro-closed {
    top: -100%;
}

.intro-btn {
    margin: 20px auto auto auto;
}
