.promo-page__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-header {
  margin: 20px;
  & h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
}
.promo-logo {
  color: $color-logo;
  -webkit-text-stroke: 1px $color-header-link;
}
.confused-img {
  display: block;
  width: 100px;
  height: 100px;
  background: url("/img/PromoPage/confused.svg");
}
.promo-reason__block {
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
  align-self: start;
  max-width: 700px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: $color-logo;
  & p {
    font-weight: 700;
  }
}
.promo-reason-confused {
  display: flex;

  & p {
    display: block;
    width: 80%;
    color: $color-header-bg;
    text-shadow: 1px 1px 1px black;
  }
}

.promo-propose__block {
  display: flex;
  font-weight: 700;
  width: inherit;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  & p {
    box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
    display: block;
    background-color: $color-brand;
    color: $color-light;
    min-width: 300px;
    width: 33%;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
  }
}
.question-img {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url("/img/PromoPage/question.svg");
}
.unicorn-img {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url("/img/PromoPage/unicorn.svg");
}
.promo-game__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & div {
    box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
    background-color: $color-header-link-highlight;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
  }
}
.promo-game__block {
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & span {
    font-size: 24px;
    color: $color-logo;
    text-shadow: 1px 1px 1px black;
  }
}
.promo-game__header {
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
  background-color: $color-header-bg;
  padding: 10px;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  align-self: flex-start;
}
.promo-additional__block {
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
  max-width: 700px;
  align-self: flex-start;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: $color-logo;
  & span {
    font-size: 24px;
    color: $color-header-bg;
    text-shadow: 1px 1px 1px black;
  }
}
.statistics-img {
  display: block;
  float: right;
  width: 70px;
  height: 70px;
  background: url("/img/PromoPage/statistics.svg");
}

.promo-aboutUs__block {
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.75);
  background-color: $color-brand;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
  & p:first-child {
    color: $color-logo;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  }
  & span {
    color: $color-header-bg;
    text-shadow: 1px 1px 1px black;
  }
}
