.settings-form {
	font-size: 2rem;
}

.form-check-label {
	font-weight: 400;
}

.settings-info-field {
	margin-bottom: 10px;
	min-height: 3rem;
	text-align: center;
}

.settings-info-field-success {
	font-size: 2rem;
	color: rgb(62, 192, 23);
}

.settings-save-btn-wrapper {
	text-align: center;
}
